/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html,
body {
padding: 0;
margin: 0;
background: #fff;
letter-spacing: 1px;
font-family: 'Source Sans Pro', sans-serif;
}
html {
  scroll-behavior: smooth;
}
body a {
outline: none;
transition: 0.5s all;
-webkit-transition: 0.5s all;
-moz-transition: 0.5s all;
-o-transition: 0.5s all;
-ms-transition: 0.5s all;
text-decoration: none;
cursor:pointer !important;
}
button,.btn{
	cursor:pointer !important;
}
body a:hover {
text-decoration: none;
transition: 0.5s all;
-webkit-transition: 0.5s all;
-moz-transition: 0.5s all;
-o-transition: 0.5s all;
-ms-transition: 0.5s all;
}
body a:focus,
a:hover {
text-decoration: none;
}
input[type="button"],
input[type="submit"] {
transition: 0.5s all;
-webkit-transition: 0.5s all;
-moz-transition: 0.5s all;
-o-transition: 0.5s all;
-ms-transition: 0.5s all;
letter-spacing: 1px;
font-family: 'Source Sans Pro', sans-serif;
}
select,input[type="email"],input[type="text"],input[type=password],
input[type="button"],input[type="submit"],textarea{
font-family: 'Montserrat', sans-serif;
transition:0.5s all;
-webkit-transition:0.5s all;
-moz-transition:0.5s all;
-o-transition:0.5s all;
-ms-transition:0.5s all;
letter-spacing: 1px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
margin: 0;
padding: 0;
font-family: 'Source Sans Pro', sans-serif;
letter-spacing: 1px;
}
p {
margin: 0;
padding: 0;
letter-spacing: 1px;
font-family: 'Source Sans Pro', sans-serif;
font-size:16px;
color:#777;
}
ul {
margin: 0;
padding: 0;
list-style-type: none;
}
.lft{    text-align: left;}
.rigt{    text-align: right;}
/*-- //Reset-Code --*/
.title {
font-size:45px;
color: #000;
letter-spacing: 3px;
font-weight: 700;
text-transform: uppercase;
}
.title-sub p,.info-sub-w3 p,.blog-txt-info p,.bottom-para p{
font-size: 14px;
color: #000;
line-height: 28px;
}
.wthree-left-right p{
font-size: 14px;
color: #fff;
line-height: 28px;}
.news-agile-text h4,.blog-txt-info h4 a,.dance-agile-info  h4{
font-size: 22px;
color:#24c8a6;
text-transform: capitalize;
}
/*--Background Colors--*/
.stats{
background: #000;
}
.clients{background:#24c8a6;}
.footer{
background: #bdbdbd;
}
/*--//Background Colors--*/
.fun-hedder-up h2 {
font-size: 26px;
line-height: 43px;
color: #000;
padding: 0em 7em;
}
.clr {
color: #fff;
}
/*-- header --*/
/*-- header --*/

/* CSS Document */

header {
    position: absolute;
    z-index: 9;
    width: 100%;
}

.toggle,
[id^=drop] {
    display: none;
}

/* Giving a background-color to the nav container. */

nav {
    margin: 0;
    padding: 0;
}


#logo a {
    float: left;
    display: initial;
    margin: 0;
    color: #fff;
}

#logo a span {
    color: #fff;
}
nav.mnu {
    text-align: center;
    padding-top: 2em;
}
/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
    content: "";
    display: table;
    clear: both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

/* Positioning the navigation items inline */

nav ul li {
    margin: 0px;
    display: inline-block;
}

/* Styling the links */

nav a {
       color: #777;
    font-size: 17px;
    letter-spacing: 2px;
    text-transform: capitalize;
    font-weight: 400;
    border: none;
    padding: 0px 20px 5px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}


nav ul li ul li:hover {
    background: #f8f9fa;
}

/* Background color change on Hover */

nav a:hover {
    color: #ed786a;
}

.menu li.active a {
    color: #ed786a;
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */

nav ul ul {
    display: none;
    position: absolute;
    /* has to be the same number as the "line-height" of "nav a" */
    top: 30px;
    background: #fff;
    padding: 10px;
}

/* Display Dropdowns on Hover */

nav ul li:hover > ul {
    display: inherit;
}

/* Fisrt Tier Dropdown */

nav ul ul li {
    width: 170px;
    float: none;
    display: list-item;
    position: relative;
}

nav ul ul li a {
    color: #333;
    padding: 5px 10px;
    display: block;
}

/* Second, Third and more Tiers
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/

nav ul ul ul li {
    position: relative;
    top: -60px;
    /* has to be the same number as the "width" of "nav ul ul li" */
    left: 170px;
}


/* Change ' +' in order to change the Dropdown symbol */

li > a:only-child:after {
    content: '';
}

/* Media Queries
--------------------------------------------- */

@media all and (max-width: 768px) {

    #logo {
        display: block;
        padding: 0;
        width: 100%;
        text-align: center;
        float: none;
    }

    nav {
        margin: 0;
    }

    /* Hide the navigation menu by default */
    /* Also hide the  */
    .toggle + a,
    .menu {
        display: none;
    }

    /* Stylinf the toggle lable */
    .toggle {
        display: block;
        padding: 8px 20px;
        font-size: 20px;
        text-decoration: none;
        border: none;
        float: right;
        background-color:#eee;
        color: #333;
        cursor: pointer;
    }
    .menu .toggle {
        float: none;
        text-align: center;
        margin: auto;
        width: 80%;
        padding: 5px;
        font-weight: normal;
        font-size: 16px;
        letter-spacing: 1px;
    }

    .toggle:hover {
        color: #333;
        background-color: #eee;
    }

    /* Display Dropdown when clicked on Parent Lable */
    [id^=drop]:checked + ul {
        display: block;
        background:#fff;
        padding: 15px 0;
        text-align: center;
		width: 100%;
    }

    /* Change menu item's width to 100% */
    nav ul li {
        display: block;
        width: 100%;
        padding: 5px 0;
    }

    nav ul ul .toggle,
    nav ul ul a {
        padding: 0 40px;
    }

    nav ul ul ul a {
        padding: 0 80px;
    }

    nav a:hover,
    nav ul ul ul a {
        background-color: transparent;
    }

    nav ul li ul li .toggle,
    nav ul ul a,
    nav ul ul ul a {
        padding: 14px 20px;
        color: #FFF;
        font-size: 17px;
    }


    nav ul li ul li .toggle,
    nav ul ul a {
        background-color: #212121;
    }

    /* Hide Dropdowns by Default */
    nav ul ul {
        float: none;
        position: static;
        color: #ffffff;
        /* has to be the same number as the "line-height" of "nav a" */
    }

    /* Hide menus on hover */
    nav ul ul li:hover > ul,
    nav ul li:hover > ul {
        display: none;
    }

    /* Fisrt Tier Dropdown */
    nav ul ul li {
        display: block;
        width: 100%;
        padding: 0;
    }

    nav ul ul ul li {
        position: static;
        /* has to be the same number as the "width" of "nav ul ul li" */
    }
    nav ul ul li a {
        color: #fff;
        font-size: 0.85em;
    }
}

@media all and (max-width: 330px) {

    nav ul li {
        display: block;
        width: 94%;
    }

}
/*--Hedder-contact--*/
.info-contact-agile {
text-align: right;
}
.header-outs {
position:relative;
}
.header-w3layouts {
position: absolute;
z-index: 99;
width:100%;
}
.headder-contact {
padding: 1em 3em;
background:#24c8a6;
}
.info-contact-agile ul li{
display:inline-block;
}
.info-contact-agile ul li p,.info-contact-agile ul li p a {
font-size: 14px;
color: #000;
display: inline-block;
}
.info-contact-agile ul li p a:hover{color:#fff;}
.info-contact-agile ul li span {
font-size: 20px;
color: #ffffff;
margin-right: 12px;
}
.info-contact-agile ul li:nth-child(1) {
margin-right: 16px;
}
.icons ul li a span {
font-size: 15px;
letter-spacing: 0px;
text-align: center;
margin: 0px 2px;
color:#000;
background: #ffffff;
width: 36px;
height: 36px;
line-height: 38px;
border-radius: 20px;
transition: 0.5s all;
-webkit-transition: 0.5s all;
transition: 0.5s all;
-moz-transition: 0.5s all;
}
.icons ul li a span:hover,.profile ul li span:hover{
color:#24c8a6;
}
.blog-txt-info h4 a:hover,.news-date ul li a:hover{color:#000;}
/*--//Hedder-contact--*/
/*-- nav --*/
/*-- Heading-1 --*/
/*-- banner --*/
.header-outs-1 {
     background: url(../images/bg2.jpg) center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    min-height: 300px;
}
.header-outs{
    background: url(../images/bg2.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    position: relative;
	min-height: 800px;}
.baner-text {
    padding: 21em 0 0;
}
.baner-text h1 {
    font-weight: 700;
    color: #ed786a;
    text-shadow: 0.05em 0.075em 0 rgba(0, 0, 0, 0.1);
    font-size: 3em;
    letter-spacing: 13px;
	text-transform: uppercase;
	font-family: 'Arvo', serif;
}
.baner-text p {
    color: #888;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 3px;
    text-align: center;
}
.agile-link-bnr {
    padding: 10px 40px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 1em;
    text-transform:uppercase;
    background: #ed786a;
    border: 1px solid #ed786a;
    position: relative;
}
.agile-link-bnr:hover {
    background: #ed786a;
    border: 1px solid #ed786a;
}
/*-- //banner --*/
/*-- news --*/
.news img {
    border: 8px solid #ebebeb;
}
.news-grids h4 {
    font-size: 2em;
    line-height: 1.25em;
    font-weight: 300;
    letter-spacing: 3px;
    color: #52575c;
    position: relative;
}
.news-grids p {
    font-size: 16px;
    line-height: 1.8em;
    color: #777;
}
.news-grids h6 {
    font-size: 1.2em;
    letter-spacing: 2px;
    margin: 1.25em 0 1.25em 0;
    text-transform: uppercase;
    font-weight: 600;
    color: #888;
}
.agile-link-bnr1 {
    padding: 12px 40px;
    color: #fff;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 1.1em;
    background: none;
    border: 1px solid #ed786a;
	 background: #ed786a;
    text-transform: capitalize;
}
.new-tp {
    padding: 1em;
}

/*--//news --*/
/*-- ban_bottom--*/
.ban_bottom{
	background: url(web/images/bg.jpg)no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}
.ban_bottom_top h3 {
    font-weight: 400;
    font-size: 2em;
    line-height: 1.5em;
    letter-spacing: 4px;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    text-transform: uppercase;
    width: 79%;
}
.agile-link-bnr2 {
    padding: 10px 40px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: capitalize;
    background: #fff;
    border-color: rgba(255, 255, 255, 0);
    color: #27636B;
    font-size: 1.25em;
    position: relative;
}
.agile-link-bnr2:hover {
    border-color: rgba(255, 255, 255, 0.75);
    background-color: rgba(255, 255, 255, 0.15);
    color: #fff;
}
.ban_bottom_top.row {
    background: rgba(255, 255, 255, 0.05);
    border: solid 1px rgba(255, 255, 255, 0.25);
    border-radius: 0.5em;
    padding: 1.75em 2.5em 1.75em 2.5em;
}
.ban_bottom_right{
	text-align:right;
}
strong, b {
    font-weight: 600;
    color: #666;
}
/*-- //ban_bottom --*/
h2.heading,h3.heading {
    font-size: 1.65em;
    font-weight: 400;
    letter-spacing: 4px;
    margin: 0 0 1.5em 0;
    line-height: 1.75em;
	color:#888;
    text-transform: uppercase;
}
p.subs.mt-4.text-center {
    font-size: 1.5em;
    color: #293e86;
    line-height: 1.5em;
    width: 86%;
}
section.services {
    background: #f1f1f1;
}
ul.list-unstyled-1 li {
    width: 49%;
    display: inline-block;
    margin: 1em 0;
}
.services h6 {
    font-size: 1.2em;
    line-height: 2em;
    letter-spacing: 0.075em;
    color: #888;
    font-weight: 600;
}
.services ul li span {
    font-size: 16px;
    color: #fff;
}
.services li span {
    background: #ed786a;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
}
/*-- gallery --*/
section.gallery {
    border-top: solid 2px #e5e5e5;
	border-bottom: solid 2px #e5e5e5;
    background: #f0f0f0;
}

/*-- //gallery --*/
/*-- popup --*/

.pop-overlay {
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 0ms;
    visibility: hidden;
    opacity: 0;
}

.pop-overlay:target {
    visibility: visible;
    opacity: 1;
	z-index:1;
}

.popup {
    background: #fff;
    border-radius: 5px;
    width: 35%;
    position: relative;
    margin: 8em auto;
    padding: 3em 1em;
}

.popup p {
    font-size: 15px;
    color: #666;
    letter-spacing: .5px;
    line-height: 30px;
}

.popup h2 {
    margin-top: 0;
    color: #fff;

}

.popup .close {
    position: absolute;
    top: 5px;
    right: 15px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.popup .close:hover {
    color: #30c39e;
}


/*-- //popup --*/
/*-- popup --*/

.overlay {
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 0ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
    background: #fff;
    border-radius: 5px;
    width: 27%;
    position: relative;
    margin: 15em auto;
	padding: 5em;
}
.popup {
    background: #fff;
    border-radius: 5px;
    width: 40%;
    position: relative;
    margin: 8em auto;
	padding: 3em 1em;
}
.popup p{
	font-size: 15px;
	color: #666;
	letter-spacing: .5px;
	line-height: 30px;
}
.popup .close {
    position: absolute;
    top: 25px;
    right: 25px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}
.popup h2 {
  margin-top: 0;
  color: #fff;

}
.popup .close {
    position: absolute;
    top: 5px;
    right: 15px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}
.popup .close:hover {
  color: #30c39e;
}

/*-- //popup --*/
/*-- blog --*/
.blog_w3l_right h4 {
    font-size: 1.65em;
    font-weight: 400;
    letter-spacing: 4px;
    margin: 0 0 1.5em 0;
    line-height: 1.75em;
	text-transform: uppercase;
	color:#888;
}
.blog_w3l_right h4 a{
	color:#888;
}

section.blog_w3l h5{
display: block;
    background: #878787;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 4px;
    border: 0;
    box-shadow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);
    display: inline-block;
    font-size: 0.85em;
    letter-spacing: 2px;
    padding: 0.8em 1em 0.8em 1em;
    margin: 0 0 2.5em 0;
}
section.blog_w3l h3 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2em;
    letter-spacing: 2px;
}
section.blog_w3l h3 a{
    color: #888;
}
section.blog_w3l img {
       border-radius: 5px;
}
section.blog_w3l p {
    font-size: 16px;
    line-height: 1.8em;
    color: #777;
	    text-align: justify;
}
.blog_w3l_left1,.blog_w3l_left2 {
    border-bottom: solid 1px #dbdbdb;
    margin: 0 0 2.75em 0;
    padding: 0 0 2.75em 0;
}
.blog_w3l_left3 {
    margin: 0 0 0em 0;
    padding: 0 0 0em 0;
}
.blog_w3l-1 {
    padding-left: 0;
}
.blog_w3l-5 h6 {
    font-size: 1.2em;
    letter-spacing: 2px;
    margin: 1.25em 0 1.25em 0;
    text-transform: uppercase;
    font-weight: 600;
    color: #888;
}
/*-- //blog --*/
/* contact */
section.contact {
    border-top: solid 2px #e5e5e5;
    background: #f0f0f0;
}
.contact_grid_right input[type="text"], .contact_grid_right input[type="email"], .contact_grid_right textarea {
    outline: none;
    padding: 15px 15px;
    font-size: 14px;
    color: #777;
    background: #fff;
    width: 100%;
    letter-spacing: 1px;
    border: 1px solid #d2d7dc;
    margin-top: 1em;
	border-radius: 0.25em;
}

.contact_grid_right input[type="text"]:nth-child(2),
.contact_grid_right input[type="email"] {
    margin: 1em 0 0;
}

.contact_grid_right textarea {
    min-height: 13em;
    margin: 1em 0em;
    resize: none;
}

.contact_grid_right button[type="submit"], .contact_grid_right button[type="reset"] {
    outline: none;
    padding: 14px 0;
    font-size: 16px;
    color: #52575c;
    background: none;
    border: 1px solid #c2c7cc;
    width: 30%;
    letter-spacing: 1px;
    border-radius: 0.25em;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    font-weight: 300;
    cursor: pointer;
    text-transform: capitalize;
	font-family: 'Source Sans Pro', sans-serif;
}

.contact_grid_right button[type="submit"]:hover, .contact_grid_right button[type="reset"]:hover {
    background-color: #ed786a;
    border: 1px solid #ed786a;
    color: #fff;
}
ul.social_section_1info li {
    display: inline-block;
}
ul.social_section_1info li a {
    width: 50px;
    height: 50px;
    text-align: center;
    display: block;
    line-height: 50px;
    border-radius: 50%;
    border: 1px solid #d6d6d6;
}
ul.social_section_1info a {
    color: #999;
    margin-right: 30px;
    font-size: 22px;
}
ul.social_section_1info a:hover {
    color: #000;
}
.cpy-right p {
    color: #999;
    font-size: 17px;
	border-top: 1px solid #d2d7dc;
}
.cpy-right p a{
	color:#ed786a;
}
.cpy-right p a:hover{
	color:#999;
}
.cpy-right {
    background: #f0f0f0;
}
#success-message {
	opacity: 0;
}
.col-xs-12.col-sm-12.col-md-12.col-lg-12 {
	padding: 0 20% 0 20%;
}

.form-title {
	padding: 25px;
	font-size: 30px;
	font-weight: 300;
}

.form-group .form-control {
	-webkit-box-shadow: none;
	border-bottom: 1px;
	border-style: none none solid none;
	border-color:#ffd708;
}

.form-group .form-control:focus {
	box-shadow: none;
	border-width: 0 0 2px 0;
	border-color: #000;
}

textarea {
	resize: none;
}

.btn-mod.btn-large {
	height: auto;
	padding: 13px 52px;
	font-size: 15px;
}

.btn-mod.btn-border {
	color: #000000;
	border: 1px solid #000000;
	background: transparent;
}

.btn-mod,
a.btn-mod {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 4px 13px;
	color: #fff;
	background: rgba(34, 34, 34, .9);
	border: 1px solid transparent;
	font-size: 11px;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
	-moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
	-o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
	-ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
	transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.btn-mod.btn-border:hover,
.btn-mod.btn-border:active,
.btn-mod.btn-border:focus,
.btn-mod.btn-border:active:focus {
	color: #fff;
	border-color: #000;
	background: #000;
	outline: none;
}

@media only screen and (max-width: 500px) {
	.btn-mod.btn-large {
		padding: 6px 16px;
		font-size: 11px;
	}
	.form-title {
		font-size: 20px;
	}
}

form#contact-form label {
	color: #ea4335;
}



/* //contact */
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.contact_grid_left ul li span {
    float: left;
    font-size: 18px;
    color: #fff;
}
.contact_grid_left ul li p span {
    display: block;
}
.contact_grid_left ul li p, .contact_grid_left ul li a {
    color: #999;
    font-size: 17px;
    letter-spacing: 1px;
    padding-top: 6px;
    display: block;
}

.contact_grid_left h6 {
    font-size: 1.15em;
    color: #fb4386 ;
    margin-bottom: 1em;
	letter-spacing:0.05em;
	font-weight:700;
}
.contact_grid_left li span {
    background: #61666b;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}
/* contact */

.form-control {
	background-color: #e2e2e2;
	border: none;
}

.map iframe {
	width: 100%;
	border: 7px solid #e4e4e4;
	min-height: 500px;
}

/* //contact */
.ban_bottom1{
	background: url(../images/bg.jpg)no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}
.ban_bottom2{
	background: url(../images/ads-akuarine.jpg)no-repeat center;
    background-size: auto;
    -webkit-background-size:auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    -ms-background-size: auto;
}
/* home grid */
.home-grid {
	padding: 2em 1em 1.2em;
	border: 1px solid #d4cfcf;
}

.home-grid span {
	color: #2a4580;
	font-size: 2.5em;
}

.wthree-bnr-btn {
	display: inline-block;
	border-top: 1px solid #fac960;
	border-radius: 0;
	margin-top: 1em;
	padding: 10px 0;
	color: #3b67b3;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
}

h4.home-title {
    font-size: 1.3em;
    text-transform: capitalize;
    line-height: 1.5em;
    color: #52575c;
}

.home-grid p {
	width: 85%;
	margin: 0 auto;
}

/* home grid */
h1.tittle {
    font-size: 1.65em;
    font-weight: 400;
    letter-spacing: 4px;
    margin: 0 0 1.5em 0;
    line-height: 1.75em;
    color: #888;
    text-transform: uppercase;
}
/*--responsive--*/
@media(max-width:1920px){
}
@media(max-width:1680px){
}
@media(max-width:1600px){
}
@media(max-width:1440px){
}
@media(max-width:1366px){
.navbar-light .navbar-nav .nav-link {
padding: 0px 32px 5px;
}
}
@media(max-width:1280px){

}
@media(max-width:1080px){

}
@media(max-width:1050px){
.navbar-light .navbar-nav .nav-link {
    padding: 0px 13px 5px;
}
}
@media(max-width:1024px){
}
@media(max-width:991px){
div#navbarSupportedContent {
background:#000;
text-align: center;
padding: 13px 0px;
}
.navbar-light .navbar-nav .nav-link {
padding: 12px 15px;
}
.navbar-light .navbar-toggler {
border-color: rgb(0, 0, 0);
background: #24c8a6;
padding: 1px 4px;
margin-top: 0px;
outline: none;
margin-right: 0px;
cursor: pointer;
border-radius: 6px;
transition: 0.5s all;
-webkit-transition: 0.5s all;
-moz-transition: 0.5s all;
-o-transition: 0.5s all;
-ms-transition: 0.5s all;
}
.navbar-light .navbar-toggler:hover {
background: #fff;
}
.about-grid{margin-top:30px;}
.navbar-nav .nav-item:nth-child(3) {
margin-right: 0em !important;
}
.header-outs {
   min-height: 700px;
}
.baner-text {
    padding: 14em 0 0;
}
.ban_bottom_left {
    text-align: center;
    margin-bottom: 1.5em;
}
.ban_bottom_right {
    text-align: center;
}
.contact_grid_left {
    margin-top: 3em;
}
.header-outs-1 {
    min-height: 250px;
}
.news-grids h6 {
    font-size: 1.1em !important;
}
.blog_w3l_left1 {
    margin-top: 2em;
}
.contact_grid_left-1 {
    margin-top: 1em;
}
}
@media(max-width:900px){

}
@media(max-width:800px){
.contact-top {
    padding: 1em 0;
}
nav a {
    padding: 0px 10px 5px;
}
.header-outs {
    min-height: 560px;
}
}
@media(max-width:768px){
.header-outs-1 {
    min-height: 230px;
}
nav.mnu {
    padding-top: 1em;
}
nav ul {
    margin-top: 3em;
}
.contact_grid_left ul li p, .contact_grid_left ul li a {
    font-size: 16px !important;
    padding-top: 12px;
}
.baner-text h1 {
    font-size: 2.5em !important;
}
.baner-text {
    padding: 13em 0 0;
}
}
@media(max-width:767px){
nav.navbar.navbar-expand-lg.navbar-light {
padding: 1.5em 0em;
}
}
@media(max-width:736px){
.baner-text h1 {
    font-size: 2em !important;
}
.header-outs {
    min-height: 560px;
}
.baner-text {
    padding: 12em 0 0;
}
.news-grids h4 {
    font-size: 1.7em !important;
}
h2.heading,h3.heading {
    font-size: 1.5em !important;
}
h1.tittle{
    font-size: 1.5em !important;
}
p.subs.mt-4.text-center {
    font-size: 1.2em !important;
    width: 100%;
}
.ban_bottom_top h3 {
    font-size: 1.5em !important;
    width: 100%;
}
ul.list-unstyled-1 li {
    width: 100%;
}
.gal-img {
    margin-bottom: 1.5em;
}
.blog_w3l_right h4 {
    font-size: 1.5em !important;
}
.baner-text p {
    line-height: 1.8em;
}
}
@media(max-width:667px){

.navbar-light .navbar-nav .nav-link {
padding: 10px 15px;
}
.header-outs-1 {
    min-height: 220px;
}
}
@media(max-width:640px){

}
@media(max-width:600px){
}
@media(max-width:568px){
.header-outs {
    min-height: 500px;
}
.baner-text {
    padding: 10em 0 0;
}
.ban_bottom_top h3 {
    font-size: 1.4em !important;
}
.header-outs-1 {
    min-height: 200px;
}
.baner-text h1 {
    font-size: 1.6em !important;
}
}
@media(max-width:480px){
.baner-text {
    padding: 9em 0 0;
}
.header-outs-1 {
    min-height: 180px;
}
.baner-text h1 {
    letter-spacing: 6px;
}
}
@media(max-width:440px){

}
@media(max-width:414px){
.contact_grid_right button[type="submit"], .contact_grid_right button[type="reset"] {
    width: 40%;
}
ul.list-unstyled li {
    width: 77%;
    display: inline-block;
    margin-top: 1.5em !important;
}
.baner-text {
    padding: 8em 0 0;
}
.baner-text h1 {
    font-size: 1.4em !important;
}
.baner-text p {
    font-size: 0.9em !important;
}
.header-outs {
    min-height: 400px;
}
h2.heading,h3.heading {
    font-size: 1.3em !important;
}
h1.tittle{
    font-size: 1.3em !important;
}
.ban_bottom_top h3 {
    font-size: 1.3em !important;
}
.blog_w3l_right h4 {
    font-size: 1.3em !important;
}
.blog_w3l-5 h6 {
    font-size: 1.1em !important;
}
}
@media(max-width:384px){
.new-tp {
    padding: 1em 0;
}
.news-grids h4 {
    font-size: 1.5em !important;
}
.ban_bottom_top h3 {
    font-size: 1.3em !important;
}
.ban_bottom_top.row {
    padding: 1em 1em 1em 1em;
}
p.subs.mt-4.text-center {
    font-size: 1em !important;
}
.header-outs-1 {
    min-height: 150px;
}
}
@media(max-width:375px){

}
@media(max-width:320px){
ul.list-unstyled li {
    width: 100%;
}
.contact_grid_right button[type="submit"], .contact_grid_right button[type="reset"] {
    width: 47%;
}
.baner-text h1 {
    font-size: 1.4em !important;
}
.baner-text p {
    font-size: 0.9em !important;
}
.baner-text {
    padding: 7em 0 0;
}
.header-outs {
    min-height: 350px;
}
.baner-text h1 {
    font-size: 1.2em !important;
	letter-spacing:4px;
}
h2.heading,h3.heading {
    font-size: 1.2em !important;
}
h1.tittle{
    font-size: 1.2em !important;
}
.ban_bottom_top h3 {
    font-size: 1.2em !important;
}
.services h6 {
    font-size: 1.1em !important;
}
section.services p {
    font-size: 16px;
    line-height: 1.8em;
    color: #777;
	    text-align: justify;
}

.services li span {
    width: 40px;
    height: 40px;
    line-height: 40px;
}
.blog_w3l_right h4 {
    font-size: 1.2em !important;
}
.contact_grid_left ul li p, .contact_grid_left ul li a {
    padding-top: 9px;
}
}
/*--//responsive--*/
/*-- //to-top --*/
